body {
  margin: 0 auto;
}

header {  
    background-image: url("https://blackrockdigital.github.io/startbootstrap-clean-blog/img/post-bg.jpg");
 background-position: center;
  width: 100%;
  background-size: cover;
}

.navm {
  list-style-type: none;
  margin: 1rem 0;
  padding: ;
  float: right;
  
}

.navm li {
  float: left;
  padding: 1rem;
}

.navm a {
  color: white;
}

.topleft {
  height: 100px;
  width: 33%;
  display: inline-block;
  margin: 1rem 2rem;
}

.topleft p {
  color: white;
  font-weight: 800;
  font-size: 2rem;
  
}

.navcontainer {
  float: right;
  width: 50%;
  font-size: 1.2rem;
  font-weight: 800;
}

.headline {
  color: white;
  text-align: ;
  margin-bottom: ;
  
}

.headline h1 {
  font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 800;
  font-size: 70px;
}

.subhead {
  color: white;
  margin-bottom: 2rem;
  
}

h2 {
  font-weight: 2000;
  
}

h3 {
  margin-bottom: 8rem;
}

h4 {
  font-style: italic;
  margin-bottom: 4rem; 
  color: white;
}

.authormeta {
  color: white;
  margin-bottom: 12rem;
}

.maincontent {
  font-size: 1.6rem;
  margin-top: 5rem;
}

.footer {
 text-align:center;
  padding: 2rem;
  
}

.footer ul {
 list-style-type: none;
 padding-left: 0;
  
}

.footer ul li {
  display:inline-block;
  padding: .7rem;
}

.footer h1 {
  color: black;
}

.social-icon a {
    color: black;
}
.imagec {
  margin: 3rem 0;
   
  }

figure {
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
}

figcaption {
/* text-align: center; */
}
.copyright {
  padding: 2rem;
  margin-left: 2rem;
}


/* Media Queries */

@media (min-width: 1024px) {
    
    .navcontainer {
  
  font-size: 1.5rem;
  
}
 
}